@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&family=Varela+Round&display=swap');
body{
    /*background-color: antiquewhite;*/
    background-image: url(717234.jpg);
}
*{
    margin: 0;
    padding: 0;
}

nav{
    /*font-family: 'Roboto', sans-serif;*/
     font-family: 'Ubuntu', sans-serif;
     /*font-family: 'Varela Round', sans-serif;*/  
}
nav ul{
    display: flex;
     align-items: center;
    list-style-type:none;
    height: 72px;
    background-color: black;
    color: white;
}
nav ul li{
    padding: 0 12px;
}
.logo img{
    width: 44px;
    padding: 0 8px; ;
}
.logo{
    display: flex;
    align-items: center;
    font-weight: bolder ;
    font-size: 1.5rem;
}

.container{
    min-height: 63vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round',sans-serif;
    display: flex;
    width: 40%;
    margin: 18px auto;
    border-radius: 12px;
    padding: 32px ;
    
}
.container h1{
    margin-left: 250px;
}
.bottom{
    position: sticky;
    height: 13vh;
    bottom: 0;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons{
    margin-top: 14px;
    margin-bottom: 14px;
   
}
.icons i{
    cursor: pointer;
    margin: 0 5px;
}
#myProgressbar{
    margin-top: 12px;
    width: 90vw;
    height: 4px;
    cursor: pointer;
}
.songlistplay{
    margin-right: 12px;
}
.songitem-con{
    margin-top: 10%;
    margin-left: 7vw;
    font-size: 15px;
}
.songitem{
    margin-top: 14px;
    width: 400px;
    height: 45px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    color: black;
    border-radius: 34px;
}
.songitem img{
 width: 40px;
 border-radius: 34px;
}
.timestamp{
    margin: 0 8px;
}
.songlistplay i{
    cursor: pointer;
}
#songnameinfo{
    position: absolute;
    left: 11vh;
    font-family: 'Ubuntu', sans-serif;
}